@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Montserrat:wght@400;500&display=swap');

html, body {
    height: 100%;
    margin-top: 0;
}

body {
    background: #f2f2f2;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator {
    width: 300px;
    padding: 10px 15px 20px 15px;
    text-align: center;
    border-radius: 5px;
    border-radius: 5px;
    background: #f2f2f2;
    box-shadow:  5px 5px 10px #d4d4d4,
                 -5px -5px 10px #ffffff;
}

/* ----- Result Screen ----- */

.result {
    padding: 15px;
    margin: 25px 5px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Dosis', sans-serif;
    color: #d3d3d3;
    font-weight: 300;
    font-size: 50px;
    text-align: right;
    border-radius: 5px;
    background: #f2f2f2;
    box-shadow:  5px 5px 0px #f0f0f0,
                 -5px -5px 0px #f4f4f4;
}

/* ------ Buttons ------ */
ul {
    padding: 0;
    margin: 0;
}

ul li {
    border-radius: 120px;
    background: #f2f2f2;
    box-shadow:  5px 5px 5px #e6e6e6,
                 -5px -5px 5px #fefefe;
    float: left;
    list-style: none;
    color: #d3d3d3;
    width: 15%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

.operator, .operatorPlus, .equalSign, .operator_c {
    border-radius: 120px;
    background: #f2f2f2;
    box-shadow:  5px 5px 5px #e6e6e6,
                 -5px -5px 5px #fefefe;
    
    */ -- Font Gradient -- */
    background: #C35BF0;
    background: -webkit-repeating-linear-gradient(to bottom right, #C35BF0 0%, #FF1F78 100%);
    background: -moz-repeating-linear-gradient(to bottom right, #C35BF0 0%, #FF1F78 100%);
    background: repeating-linear-gradient(to bottom right, #C35BF0 0%, #FF1F78 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.operator_c {
    width: 120px;
}

.operatorPlus {
    height: 110px;
    float: right;
    line-height: 100px;
    text-align: center;
}

.zero {
    width: 120px;
}

ul li:hover {
    box-shadow: 1px 2px 3px #FFF;
}

/* ----- Footer ----- */

.signature {
    font-family: 'Montserrat', sans-serif;
    color: #777;
    font-size: 13px;
    padding-top: 10px;
}

a {
    color: #B27EC0;
}

a:hover {
    font-weight: 500;
}